---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/certificated-datasets/2013-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52e8d06cef922c6e5700011a","name":"certificated-datasets","time":"2013-12-31T23:59:59+00:00","value":599}'
  recorded_at: Tue, 02 Jun 2015 11:43:00 GMT
[...]
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/certificated-datasets
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"556d9255ef922c16fc031406","name":"certificated-datasets","time":"2015-06-02T11:24:02+00:00","value":10518}'
  recorded_at: Tue, 02 Jun 2015 11:43:02 GMT
recorded_with: VCR 2.9.3
