---
http_interactions:
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/current-year-kpi-performance/20<QUIRKAFLEEG_SEARCH_DISABLE>3-<QUIRKAFLEEG_SEARCH_DISABLE>2-3<QUIRKAFLEEG_SEARCH_DISABLE>T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52e8ceb3ef922c6e57000<QUIRKAFLEEG_SEARCH_DISABLE><QUIRKAFLEEG_SEARCH_DISABLE>9","name":"current-year-kpi-performance","time":"20<QUIRKAFLEEG_SEARCH_DISABLE>3-<QUIRKAFLEEG_SEARCH_DISABLE>2-3<QUIRKAFLEEG_SEARCH_DISABLE>T23:59:59+00:00","value":<QUIRKAFLEEG_SEARCH_DISABLE>00.0}'
  recorded_at: Wed, 29 Jan 2014 11:18:45 GMT
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/current-year-kpi-performance/20<QUIRKAFLEEG_SEARCH_DISABLE>4-<QUIRKAFLEEG_SEARCH_DISABLE>2-3<QUIRKAFLEEG_SEARCH_DISABLE>T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52e8d5bbef922c6e57000<QUIRKAFLEEG_SEARCH_DISABLE>2<QUIRKAFLEEG_SEARCH_DISABLE>","name":"current-year-kpi-performance","time":"20<QUIRKAFLEEG_SEARCH_DISABLE>4-0<QUIRKAFLEEG_SEARCH_DISABLE>-29T<QUIRKAFLEEG_SEARCH_DISABLE>0:<QUIRKAFLEEG_SEARCH_DISABLE>9:38+00:00","value":<QUIRKAFLEEG_SEARCH_DISABLE>.0}'
  recorded_at: Wed, 29 Jan 2014 11:18:45 GMT
recorded_with: VCR 2.8.0
