---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/quarterly-progress
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"556d8b69ef922c16fc031314","name":"quarterly-progress","time":"2015-06-02T10:54:30+00:00","value":{"2013":{"q1":97.0,"q2":90.2,"q3":93.4,"q4":90.8},"2014":{"q1":91.8,"q2":91.5,"q3":84.1,"q4":92.5},"2015":{"q1":68.9,"q2":15.3,"q3":0,"q4":0}}}'
  recorded_at: Tue, 02 Jun 2015 11:37:19 GMT
[...]
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/quarterly-progress
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"556d8b69ef922c16fc031314","name":"quarterly-progress","time":"2015-06-02T10:54:30+00:00","value":{"2013":{"q1":97.0,"q2":90.2,"q3":93.4,"q4":90.8},"2014":{"q1":91.8,"q2":91.5,"q3":84.1,"q4":92.5},"2015":{"q1":68.9,"q2":15.3,"q3":0,"q4":0}}}'
  recorded_at: Tue, 02 Jun 2015 11:37:20 GMT
recorded_with: VCR 2.9.3
