---
http_interactions:
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/current-year-bookings/2013-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52e8ceaeef922c6e57000115","name":"current-year-bookings","time":"2013-12-31T23:59:59+00:00","value":2191064}'
  recorded_at: Wed, 29 Jan 2014 11:06:10 GMT
[...]
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/cumulative-bookings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52e8d5b8ef922c6e5700011e","name":"cumulative-bookings","time":"2014-01-29T10:19:35+00:00","value":2191064}'
  recorded_at: Wed, 29 Jan 2014 11:06:10 GMT
recorded_with: VCR 2.8.0
