---
http_interactions:
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/current-year-kpi-performance/2013-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52e8ceb3ef922c6e57000119","name":"current-year-kpi-performance","time":"2013-12-31T23:59:59+00:00","value":100.0}'
  recorded_at: Wed, 29 Jan 2014 11:18:45 GMT
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/current-year-kpi-performance/2014-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52e8d5bbef922c6e57000121","name":"current-year-kpi-performance","time":"2014-01-29T10:19:38+00:00","value":1.0}'
  recorded_at: Wed, 29 Jan 2014 11:18:45 GMT
recorded_with: VCR 2.8.0
