---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/current-year-ebitda/2014-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"54b692adef922c5d1001d7ab","name":"current-year-ebitda","time":"2014-12-31T23:59:59+00:00","value":{"actual":-1938527.1199999999,"latest":-230153.0,"annual_target":-3003883.33333333,"ytd_target":-3003883.3333333326}}'
  recorded_at: Thu, 04 Jun 2015 08:12:06 GMT
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/current-year-ebitda/2015-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"5570069cef922c014b0005c7","name":"current-year-ebitda","time":"2015-06-04T08:04:44+00:00","value":{"actual":-1254000.0,"latest":-300000.0,"annual_target":-3488000.0,"ytd_target":-1713000.0}}'
  recorded_at: Thu, 04 Jun 2015 08:12:16 GMT
recorded_with: VCR 2.9.3
