---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/current-year-kpi-performance/2013-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52e8ceb3ef922c6e57000119","name":"current-year-kpi-performance","time":"2013-12-31T23:59:59+00:00","value":100.0}'
  recorded_at: Fri, 31 Jan 2014 11:57:57 GMT
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/current-year-kpi-performance/2014-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52eb830aef922c6e5700027c","name":"current-year-kpi-performance","time":"2014-01-31T11:03:37+00:00","value":1.0}'
  recorded_at: Fri, 31 Jan 2014 11:57:57 GMT
recorded_with: VCR 2.8.0
