---
http_interactions:
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/current-year-bookings/20<QUIRKAFLEEG_SEARCH_DISABLE>3-<QUIRKAFLEEG_SEARCH_DISABLE>2-3<QUIRKAFLEEG_SEARCH_DISABLE>T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52e8ceaeef922c6e57000<QUIRKAFLEEG_SEARCH_DISABLE><QUIRKAFLEEG_SEARCH_DISABLE>5","name":"current-year-bookings","time":"20<QUIRKAFLEEG_SEARCH_DISABLE>3-<QUIRKAFLEEG_SEARCH_DISABLE>2-3<QUIRKAFLEEG_SEARCH_DISABLE>T23:59:59+00:00","value":2<QUIRKAFLEEG_SEARCH_DISABLE>9<QUIRKAFLEEG_SEARCH_DISABLE>064}'
  recorded_at: Wed, 29 Jan 2014 11:06:10 GMT
[...]
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/cumulative-bookings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52e8d5b8ef922c6e57000<QUIRKAFLEEG_SEARCH_DISABLE><QUIRKAFLEEG_SEARCH_DISABLE>e","name":"cumulative-bookings","time":"20<QUIRKAFLEEG_SEARCH_DISABLE>4-0<QUIRKAFLEEG_SEARCH_DISABLE>-29T<QUIRKAFLEEG_SEARCH_DISABLE>0:<QUIRKAFLEEG_SEARCH_DISABLE>9:35+00:00","value":2<QUIRKAFLEEG_SEARCH_DISABLE>9<QUIRKAFLEEG_SEARCH_DISABLE>064}'
  recorded_at: Wed, 29 Jan 2014 11:06:10 GMT
recorded_with: VCR 2.8.0
