---
http_interactions:
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/current-year-network-size/2014-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"5315d5d8ef922c6e570020be","name":"current-year-network-size","time":"2014-03-04T13:32:08+00:00","value":{"partners":{"actual":2,"annual_target":10,"ytd_target":3},"sponsors":{"actual":0,"annual_target":5,"ytd_target":0},"supporters":{"actual":3,"annual_target":34,"ytd_target":4},"startups":{"actual":0,"annual_target":6,"ytd_target":6},"nodes":{"actual":0,"annual_target":20,"ytd_target":0},"affiliates":{"actual":0}}}'
  recorded_at: Tue, 04 Mar 2014 13:56:31 GMT
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/cumulative-network-size
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"5315d5d8ef922c6e570020bf","name":"cumulative-network-size","time":"2014-03-04T13:32:08+00:00","value":80}'
  recorded_at: Tue, 04 Mar 2014 13:56:31 GMT
recorded_with: VCR 2.8.0
