---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/cumulative-bookings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"556d90e7ef922c16fc0313d6","name":"cumulative-bookings","time":"2015-06-02T11:17:57+00:00","value":5405426}'
  recorded_at: Tue, 02 Jun 2015 12:22:36 GMT
recorded_with: VCR 2.9.3
