---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/current-year-value-unlocked/2013-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52e8ceb1ef922c6e57000117","name":"current-year-value-unlocked","time":"2013-12-31T23:59:59+00:00","value":16924307}'
  recorded_at: Tue, 02 Jun 2015 11:46:25 GMT
[...]
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/cumulative-value-unlocked
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"556d90e7ef922c16fc0313d3","name":"cumulative-value-unlocked","time":"2015-06-02T11:17:56+00:00","value":32863121}'
  recorded_at: Tue, 02 Jun 2015 11:46:29 GMT
recorded_with: VCR 2.9.3
