---
http_interactions:
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/current-year-reach/2013-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52e8ceacef922c6e57000113","name":"current-year-reach","time":"2013-12-31T23:59:59+00:00","value":303396}'
  recorded_at: Wed, 29 Jan 2014 11:02:27 GMT
[...]
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/cumulative-reach
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52e8d5b6ef922c6e5700011c","name":"cumulative-reach","time":"2014-01-29T10:19:33+00:00","value":303396}'
  recorded_at: Wed, 29 Jan 2014 11:02:27 GMT
recorded_with: VCR 2.8.0
