---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/current-year-total-costs/2014-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"54b692adef922c5d1001d7ac","name":"current-year-total-costs","time":"2014-12-31T23:59:59+00:00","value":{"actual":3526939.9699999997,"annual_target":5939066.66666667,"ytd_target":5939066.66666667,"breakdown":{"variable":{"research":{"actual":61185.020000000004,"annual_target":447916.66666666704,"ytd_target":447916.66666666657},"training":{"actual":43592.29,"annual_target":123560.0,"ytd_target":123559.99999999997},"projects":{"actual":341327.33,"annual_target":397925.0,"ytd_target":397925.0000000004},"network":{"actual":38952.950000000004,"annual_target":100695.0,"ytd_target":100695.00000000003}},"fixed":{"staff":{"actual":1644713.0,"annual_target":2113000.0,"ytd_target":2113000.0},"associates":{"actual":472212.0,"annual_target":858000.0,"ytd_target":858000.0},"office_and_operational":{"actual":301261.87,"annual_target":494000.0,"ytd_target":494000.0000000003},"delivery":{"actual":257644.72999999998,"annual_target":778270.0,"ytd_target":778269.9999999992},"communications":{"actual":181889.0,"annual_target":315000.0,"ytd_target":315000.0},"professional_fees":{"actual":154921.9,"annual_target":200000.0,"ytd_target":200000.00000000035},"software":{"actual":29239.88,"annual_target":110700.0,"ytd_target":110700.0}}}}}'
  recorded_at: Thu, 04 Jun 2015 10:28:56 GMT
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/current-year-total-costs/2015-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"55702720ef922c014b000690","name":"current-year-total-costs","time":"2015-06-04T10:23:25+00:00","value":{"actual":2317000.0,"annual_target":6252000.0,"ytd_target":3029000.0,"breakdown":{"network":{"actual":334000.0,"annual_target":1195000.0,"ytd_target":585000.0},"innovation":{"actual":659000.0,"annual_target":1891000.0,"ytd_target":950000.0},"core":{"actual":296000.0,"annual_target":936000.0,"ytd_target":410000.0},"staff":{"actual":648000.0,"annual_target":1230000.0,"ytd_target":607000.0},"other":{"actual":380000.0,"annual_target":1000000.0,"ytd_target":477000.0}}}}'
  recorded_at: Thu, 04 Jun 2015 10:28:57 GMT
recorded_with: VCR 2.9.3
