---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/current-year-income/2014-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"54b692acef922c5d1001d7a3","name":"current-year-income","time":"2014-12-31T23:59:59+00:00","value":{"actual":1588412.8499999999,"annual_target":2935183.33333333,"ytd_target":2935183.333333331}}'
  recorded_at: Wed, 03 Jun 2015 16:04:44 GMT
[...]
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/cumulative-income
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"556f17d0ef922c014b00005f","name":"cumulative-income","time":"2015-06-03T15:05:52+00:00","value":7057000.0}'
  recorded_at: Wed, 03 Jun 2015 16:04:46 GMT
recorded_with: VCR 2.9.3
