---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/current-year-value-unlocked/2013-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52e8ceb1ef922c6e57000117","name":"current-year-value-unlocked","time":"2013-12-31T23:59:59+00:00","value":16924307}'
  recorded_at: Fri, 31 Jan 2014 11:57:56 GMT
[...]
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/cumulative-value-unlocked
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52eb8309ef922c6e5700027b","name":"cumulative-value-unlocked","time":"2014-01-31T11:03:36+00:00","value":16924307}'
  recorded_at: Fri, 31 Jan 2014 11:57:57 GMT
recorded_with: VCR 2.8.0
