---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/current-year-bookings/2013-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52e8ceaeef922c6e57000115","name":"current-year-bookings","time":"2013-12-31T23:59:59+00:00","value":2191064}'
  recorded_at: Fri, 31 Jan 2014 11:57:54 GMT
[...]
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/cumulative-bookings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52eb8307ef922c6e57000279","name":"cumulative-bookings","time":"2014-01-31T11:03:33+00:00","value":2191064}'
  recorded_at: Fri, 31 Jan 2014 11:57:55 GMT
recorded_with: VCR 2.8.0
