---
http_interactions:
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/current-year-grant-funding/2014-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52f8771cef922c6e5700113a","name":"current-year-grant-funding","time":"2014-02-10T06:52:12+00:00","value":{"actual":0.0,"annual_target":3354617.6046176003,"ytd_target":373917.748917748}}'
  recorded_at: Mon, 10 Feb 2014 06:57:36 GMT
recorded_with: VCR 2.8.0
