---
http_interactions:
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/current-year-total-costs/2014-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52f50f50ef922c6e57000d81","name":"current-year-total-costs","time":"2014-02-07T16:52:32+00:00","value":{"actual":0.0,"annual_target":5939066.66666667,"ytd_target":699840.6666666673,"breakdown":{"variable":{"research":{"actual":0.0,"annual_target":447916.66666666704,"ytd_target":0.0},"training":{"actual":0.0,"annual_target":123560.0,"ytd_target":12776.0},"projects":{"actual":0.0,"annual_target":397925.0,"ytd_target":21633.3333333334},"network":{"actual":0.0,"annual_target":100695.0,"ytd_target":10187.999999999998}},"fixed":{"staff":{"actual":0.0,"annual_target":2113000.0,"ytd_target":277000.0},"associates":{"actual":0.0,"annual_target":858000.0,"ytd_target":112000.0},"office_and_operational":{"actual":0.0,"annual_target":494000.0,"ytd_target":82333.3333333334},"delivery":{"actual":0.0,"annual_target":778270.0,"ytd_target":81876.6666666666},"communications":{"actual":0.0,"annual_target":315000.0,"ytd_target":52500.0},"professional_fees":{"actual":0.0,"annual_target":200000.0,"ytd_target":33333.3333333334},"software":{"actual":0.0,"annual_target":110700.0,"ytd_target":16200.0}}}}}'
  recorded_at: Fri, 07 Feb 2014 17:00:43 GMT
recorded_with: VCR 2.8.0
