---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/current-year-network-size/2014-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"54b68eaeef922c5d1001d778","name":"current-year-network-size","time":"2014-12-31T23:59:59+00:00","value":{"partners":{"actual":3,"annual_target":10,"ytd_target":10},"sponsors":{"actual":1,"annual_target":5,"ytd_target":5},"supporters":{"actual":55,"annual_target":34,"ytd_target":34},"startups":{"actual":7,"annual_target":6,"ytd_target":6},"nodes":{"actual":9,"annual_target":20,"ytd_target":20},"affiliates":{"actual":0}}}'
  recorded_at: Fri, 05 Jun 2015 12:25:39 GMT
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/current-year-network-size/2015-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"5571948aef922c014b000db2","name":"current-year-network-size","time":"2015-06-05T12:22:34+00:00","value":{"startups":{"actual":5},"nodes":{"actual":5},"members":{"actual":147}}}'
  recorded_at: Fri, 05 Jun 2015 12:25:40 GMT
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/cumulative-network-size
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"5571948aef922c014b000db3","name":"cumulative-network-size","time":"2015-06-05T12:22:34+00:00","value":308}'
  recorded_at: Fri, 05 Jun 2015 12:25:41 GMT
recorded_with: VCR 2.9.3
