---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/membership-count/2013-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52c1ea9def922c6e5700006b","name":"membership-count","time":"2013-12-30T21:50:21+00:00","value":{"total":54,"by_level":{"supporter":39,"sponsor":6,"partner":5,"member":4}}}'
  recorded_at: Fri, 31 Jan 2014 11:57:55 GMT
[...]
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/membership-count
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52ea2c13ef922c6e570001d0","name":"membership-count","time":"2014-01-30T10:40:19+00:00","value":{"total":59,"by_level":{"supporter":44,"sponsor":6,"partner":5,"member":4}}}'
  recorded_at: Fri, 31 Jan 2014 11:57:56 GMT
recorded_with: VCR 2.8.0
