---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/current-year-people-trained/2014-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"54b68eaeef922c5d1001d776","name":"current-year-people-trained","time":"2014-12-31T23:59:59+00:00","value":{"commercial":{"actual":157,"annual_target":190,"ytd_target":190},"non_commercial":{"actual":144,"annual_target":206,"ytd_target":206},"total":702}}'
  recorded_at: Wed, 03 Jun 2015 08:20:40 GMT
[...]
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/cumulative-people-trained
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"556eaae2ef922c16fc031d32","name":"cumulative-people-trained","time":"2015-06-03T07:21:06+00:00","value":1593}'
  recorded_at: Wed, 03 Jun 2015 08:20:41 GMT
recorded_with: VCR 2.9.3
