---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/current-year-reach/2014-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"54b68eadef922c5d1001d772","name":"current-year-reach","time":"2014-12-31T23:59:59+00:00","value":{"total":541748,"breakdown":{"active":13780,"passive":527968}}}'
  recorded_at: Wed, 03 Jun 2015 08:31:15 GMT
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/current-year-reach/2015-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"556eaae2ef922c16fc031d2e","name":"current-year-reach","time":"2015-06-03T07:21:06+00:00","value":{"total":{"actual":383896,"annual_target":1000000,"ytd_target":470000},"breakdown":{"active":{"actual":0,"annual_target":0,"ytd_target":0},"passive":{"actual":383896,"annual_target":1000000,"ytd_target":470000}}}}'
  recorded_at: Wed, 03 Jun 2015 08:31:15 GMT
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/cumulative-reach
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"556eaae2ef922c16fc031d2f","name":"cumulative-reach","time":"2015-06-03T07:21:06+00:00","value":{"total":1229040,"breakdown":{"active":24306,"passive":1204734}}}'
  recorded_at: Wed, 03 Jun 2015 08:31:16 GMT
recorded_with: VCR 2.9.3
