---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/current-year-burn/2014-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"54b692adef922c5d1001d7aa","name":"current-year-burn","time":"2014-12-31T23:59:59+00:00","value":335128.44333333336}'
  recorded_at: Thu, 04 Jun 2015 08:58:31 GMT
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/current-year-burn/2015-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"5570069cef922c014b0005c6","name":"current-year-burn","time":"2015-06-04T08:04:44+00:00","value":182333.33333333334}'
  recorded_at: Thu, 04 Jun 2015 08:58:32 GMT
recorded_with: VCR 2.9.3
