---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/certificated-datasets/2013-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52e8d06cef922c6e5700011a","name":"certificated-datasets","time":"2013-12-31T23:59:59+00:00","value":599}'
  recorded_at: Fri, 31 Jan 2014 11:57:58 GMT
[...]
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/certificated-datasets
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52ea2bfbef922c6e570001cc","name":"certificated-datasets","time":"2014-01-30T10:39:55+00:00","value":641}'
  recorded_at: Fri, 31 Jan 2014 11:57:58 GMT
recorded_with: VCR 2.8.0
