---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/current-year-reach/2013-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52e8ceacef922c6e57000113","name":"current-year-reach","time":"2013-12-31T23:59:59+00:00","value":303396}'
  recorded_at: Fri, 31 Jan 2014 11:57:56 GMT
[...]
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/cumulative-reach
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52eb8303ef922c6e57000275","name":"cumulative-reach","time":"2014-01-31T11:03:30+00:00","value":303396}'
  recorded_at: Fri, 31 Jan 2014 11:57:56 GMT
recorded_with: VCR 2.8.0
