---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/current-year-non-commercial-bookings/2014-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52eb8310ef922c6e5700027e","name":"current-year-non-commercial-bookings","time":"2014-01-31T11:03:42+00:00","value":{"actual":0.0,"target":45.2}}'
  recorded_at: Fri, 31 Jan 2014 11:57:57 GMT
recorded_with: VCR 2.8.0
