---
http_interactions:
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/membership-count/2013-12-12T23:59:59
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52a9c459ef922cf2a2000001","name":"membership-count","time":"2013-12-12T14:12:41+00:00","value":{"total":52,"by_level":{"supporter":38,"sponsor":6,"partner":4,"member":4}}}'
  recorded_at: Wed, 22 Jan 2014 14:50:20 GMT
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/membership-count/2014-12-12T23:59:59
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52de6492ef922c6e570000e8","name":"membership-count","time":"2014-01-21T12:14:10+00:00","value":{"total":56,"by_level":{"supporter":41,"sponsor":6,"partner":5,"member":4}}}'
  recorded_at: Wed, 22 Jan 2014 14:50:20 GMT
recorded_with: VCR 2.8.0
