---
http_interactions:
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/current-year-people-trained/2014-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"5315d5d8ef922c6e570020bc","name":"current-year-people-trained","time":"2014-03-04T13:32:08+00:00","value":{"commercial":{"actual":4,"annual_target":190,"ytd_target":45},"non_commercial":{"actual":12,"annual_target":206,"ytd_target":48}}}'
  recorded_at: Tue, 04 Mar 2014 13:57:20 GMT
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/cumulative-people-trained
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"5315d5d8ef922c6e570020bd","name":"cumulative-people-trained","time":"2014-03-04T13:32:08+00:00","value":234}'
  recorded_at: Tue, 04 Mar 2014 13:57:20 GMT
recorded_with: VCR 2.8.0
