---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/current-year-flagship-stories/2015-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"556eaae2ef922c16fc031d30","name":"current-year-flagship-stories","time":"2015-06-03T07:21:06+00:00","value":{"actual":0,"annual_target":0,"ytd_target":0}}'
  recorded_at: Wed, 03 Jun 2015 08:27:02 GMT
recorded_with: VCR 2.9.3
