---
http_interactions:
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/current-year-people-trained/2014-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"546377b5ef922cabb20065c5","name":"current-year-people-trained","time":"2014-11-12T15:07:33+00:00","value":{"commercial":{"actual":411,"annual_target":190,"ytd_target":177},"non_commercial":{"actual":144,"annual_target":206,"ytd_target":192},"total":497}}'
  recorded_at: Wed, 12 Nov 2014 15:37:31 GMT
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/cumulative-people-trained
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"546377b5ef922cabb20065c6","name":"cumulative-people-trained","time":"2014-11-12T15:07:33+00:00","value":731}'
  recorded_at: Wed, 12 Nov 2014 15:37:31 GMT
recorded_with: VCR 2.9.0
