---
http_interactions:
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/current-year-income/2014-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"5315e6f8ef922c6e570020dd","name":"current-year-income","time":"2014-03-04T14:45:11+00:00","value":{"actual":88468.0,"annual_target":2935183.33333333,"ytd_target":280543.3333333333}}'
  recorded_at: Tue, 04 Mar 2014 14:46:48 GMT
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/cumulative-income
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"5315e6f8ef922c6e570020de","name":"cumulative-income","time":"2014-03-04T14:45:12+00:00","value":91123}'
  recorded_at: Tue, 04 Mar 2014 14:46:49 GMT
recorded_with: VCR 2.8.0
