---
http_interactions:
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/certificated-datasets/2013-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52e8d06cef922c6e5700011a","name":"certificated-datasets","time":"2013-12-31T23:59:59+00:00","value":599}'
  recorded_at: Wed, 29 Jan 2014 10:21:52 GMT
[...]
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/certificated-datasets
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52e8cb39ef922c6e5700010a","name":"certificated-datasets","time":"2014-01-29T09:34:49+00:00","value":640}'
  recorded_at: Wed, 29 Jan 2014 10:21:52 GMT
recorded_with: VCR 2.8.0
