---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/cash-reserves/2014-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"54b692abef922c5d1001d7a0","name":"cash-reserves","time":"2014-12-31T23:59:59+00:00","value":839489.27}'
  recorded_at: Thu, 04 Jun 2015 08:52:55 GMT
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/cash-reserves/2015-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"5570069cef922c014b0005bc","name":"cash-reserves","time":"2015-06-04T08:04:43+00:00","value":1304880.05}'
  recorded_at: Thu, 04 Jun 2015 08:52:56 GMT
recorded_with: VCR 2.9.3
