---
http_interactions:
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/weighted-pipeline/20<QUIRKAFLEEG_SEARCH_DISABLE>4-<QUIRKAFLEEG_SEARCH_DISABLE>2-3<QUIRKAFLEEG_SEARCH_DISABLE>T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52efa9a5ef922c6e57000762","name":"weighted-pipeline","time":"20<QUIRKAFLEEG_SEARCH_DISABLE>4-02-03T<QUIRKAFLEEG_SEARCH_DISABLE>4:37:25+00:00","value":{"20<QUIRKAFLEEG_SEARCH_DISABLE>4-0<QUIRKAFLEEG_SEARCH_DISABLE>-0<QUIRKAFLEEG_SEARCH_DISABLE>/20<QUIRKAFLEEG_SEARCH_DISABLE>4-<QUIRKAFLEEG_SEARCH_DISABLE>2-3<QUIRKAFLEEG_SEARCH_DISABLE>":228603,"20<QUIRKAFLEEG_SEARCH_DISABLE>4-0<QUIRKAFLEEG_SEARCH_DISABLE>-0<QUIRKAFLEEG_SEARCH_DISABLE>/20<QUIRKAFLEEG_SEARCH_DISABLE>6-<QUIRKAFLEEG_SEARCH_DISABLE>2-3<QUIRKAFLEEG_SEARCH_DISABLE>":228603}}'
  recorded_at: Tue, 04 Feb 2014 11:53:28 GMT
recorded_with: VCR 2.8.0
