---
http_interactions:
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/current-year-people-trained/2<XPC_SERVICE_NAME>14-12-31T23:59:59+<XPC_SERVICE_NAME><XPC_SERVICE_NAME>:<XPC_SERVICE_NAME><XPC_SERVICE_NAME>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"546377b5ef922cabb2<XPC_SERVICE_NAME><XPC_SERVICE_NAME>65c5","name":"current-year-people-trained","time":"2<XPC_SERVICE_NAME>14-11-12T15:<XPC_SERVICE_NAME>7:33+<XPC_SERVICE_NAME><XPC_SERVICE_NAME>:<XPC_SERVICE_NAME><XPC_SERVICE_NAME>","value":{"commercial":{"actual":411,"annual_target":19<XPC_SERVICE_NAME>,"ytd_target":177},"non_commercial":{"actual":144,"annual_target":2<XPC_SERVICE_NAME>6,"ytd_target":192},"total":497}}'
  recorded_at: Wed, 12 Nov 2014 15:37:31 GMT
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/cumulative-people-trained
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"546377b5ef922cabb2<XPC_SERVICE_NAME><XPC_SERVICE_NAME>65c6","name":"cumulative-people-trained","time":"2<XPC_SERVICE_NAME>14-11-12T15:<XPC_SERVICE_NAME>7:33+<XPC_SERVICE_NAME><XPC_SERVICE_NAME>:<XPC_SERVICE_NAME><XPC_SERVICE_NAME>","value":731}'
  recorded_at: Wed, 12 Nov 2014 15:37:31 GMT
recorded_with: VCR 2.9.0
