---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/current-year-network-size/2014-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"54b68eaeef922c5d1001d778","name":"current-year-network-size","time":"2014-12-31T23:59:59+00:00","value":{"partners":{"actual":3,"annual_target":10,"ytd_target":10},"sponsors":{"actual":1,"annual_target":5,"ytd_target":5},"supporters":{"actual":55,"annual_target":34,"ytd_target":34},"startups":{"actual":7,"annual_target":6,"ytd_target":6},"nodes":{"actual":9,"annual_target":20,"ytd_target":20},"affiliates":{"actual":0}}}'
  recorded_at: Tue, 02 Jun 2015 12:21:51 GMT
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/cumulative-network-size
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"556d90f6ef922c16fc0313e8","name":"cumulative-network-size","time":"2015-06-02T11:18:12+00:00","value":258}'
  recorded_at: Tue, 02 Jun 2015 12:21:52 GMT
recorded_with: VCR 2.9.3
