---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/quarterly-progress
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52ea2cd3ef922c6e570001d2","name":"quarterly-progress","time":"2014-01-30T10:43:31+00:00","value":{"2014":{"q1":9.8,"q2":0,"q3":0,"q4":0},"2013":{"q1":97.0,"q2":90.2,"q3":93.1,"q4":89.8}}}'
  recorded_at: Fri, 31 Jan 2014 11:57:55 GMT
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/quarterly-progress
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52ea2cd3ef922c6e570001d2","name":"quarterly-progress","time":"2014-01-30T10:43:31+00:00","value":{"2014":{"q1":9.8,"q2":0,"q3":0,"q4":0},"2013":{"q1":97.0,"q2":90.2,"q3":93.1,"q4":89.8}}}'
  recorded_at: Fri, 31 Jan 2014 11:57:55 GMT
recorded_with: VCR 2.8.0
