---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/current-year-bookings/2015-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"556d90e8ef922c16fc0313d8","name":"current-year-bookings","time":"2015-06-02T11:17:57+00:00","value":{"actual":335000,"annual_target":1044000,"ytd_target":420000}}'
  recorded_at: Tue, 02 Jun 2015 12:24:23 GMT
recorded_with: VCR 2.9.3
