---
http_interactions:
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/quarterly-progress
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52e8cc36ef922c6e57000<QUIRKAFLEEG_SEARCH_DISABLE><QUIRKAFLEEG_SEARCH_DISABLE>2","name":"quarterly-progress","time":"20<QUIRKAFLEEG_SEARCH_DISABLE>4-0<QUIRKAFLEEG_SEARCH_DISABLE>-29T09:39:02+00:00","value":{"20<QUIRKAFLEEG_SEARCH_DISABLE>4":{"q<QUIRKAFLEEG_SEARCH_DISABLE>":9.8,"q2":0,"q3":0,"q4":0},"20<QUIRKAFLEEG_SEARCH_DISABLE>3":{"q<QUIRKAFLEEG_SEARCH_DISABLE>":97.0,"q2":90.2,"q3":93.<QUIRKAFLEEG_SEARCH_DISABLE>,"q4":89.8}}}'
  recorded_at: Wed, 29 Jan 2014 11:27:53 GMT
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/quarterly-progress
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52e8cc36ef922c6e57000<QUIRKAFLEEG_SEARCH_DISABLE><QUIRKAFLEEG_SEARCH_DISABLE>2","name":"quarterly-progress","time":"20<QUIRKAFLEEG_SEARCH_DISABLE>4-0<QUIRKAFLEEG_SEARCH_DISABLE>-29T09:39:02+00:00","value":{"20<QUIRKAFLEEG_SEARCH_DISABLE>4":{"q<QUIRKAFLEEG_SEARCH_DISABLE>":9.8,"q2":0,"q3":0,"q4":0},"20<QUIRKAFLEEG_SEARCH_DISABLE>3":{"q<QUIRKAFLEEG_SEARCH_DISABLE>":97.0,"q2":90.2,"q3":93.<QUIRKAFLEEG_SEARCH_DISABLE>,"q4":89.8}}}'
  recorded_at: Wed, 29 Jan 2014 11:27:53 GMT
recorded_with: VCR 2.8.0
