CAPSULECRM_ACCOUNT_NAME: 
CAPSULECRM_API_TOKEN: 
GAPPS_METRICS_SPREADSHEET_ID: 
GAPPS_PASSWORD: 
GAPPS_SERVICE_ACCOUNT_EMAIL: 
GAPPS_USER_EMAIL: 
GITHUB_ORGANISATION: 
METRICS_API_BASE_URL: 
PINGDOM_APP_KEY: 
PINGDOM_PASSWORD: 
PINGDOM_USERNAME: 
SCRIBD_KEY: 
SCRIBD_PASSWORD: 
SCRIBD_SECRET: 
SCRIBD_USERNAME: 
SOUNDCLOUD_CLIENT_ID: 
SOUNDCLOUD_PASSWORD: 
SOUNDCLOUD_SECRET: 
SOUNDCLOUD_USERNAME: 
TRELLO_DEV_KEY: 
TRELLO_MEMBER_KEY: 
TWITTER_UKODITECH_CONSUMER_KEY: 
TWITTER_UKODITECH_CONSUMER_SECRET: 
TWITTER_UKODITECH_OAUTH_TOKEN: 
TWITTER_UKODITECH_OAUTH_TOKEN_SECRET: 