---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/membership-renewals
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52ab01faef922c6e57000003","name":"membership-renewals","time":"2013-12-13T12:47:54+00:00","value":{"4":{"supporter":0,"sponsor":0,"partner":0,"member":0},"13":{"supporter":3,"sponsor":0,"partner":0,"member":0},"26":{"supporter":11,"sponsor":0,"partner":0,"member":2}}}'
  recorded_at: Fri, 13 Dec 2013 13:31:59 GMT
recorded_with: VCR 2.8.0
