// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #12b0c5;
$value-color:       #fff;

$label-color:       rgba(255, 255, 255, 0.7);

$green:      #0DBC37;
$red:        #D60303;
$lightgreen: #67EF67;
$yellow:     #F9BC26;
$orange:     #FF6700;


// ----------------------------------------------------------------------------
// Widget-jenkins styles
// ----------------------------------------------------------------------------
.widget-travis {

  padding: 0px !important;

  > div {
    height:100%;
    display: table;
    width: 100%;

    > div {
      display: table-cell;
      vertical-align: middle;
    }
  }

  ul {

    li {
      padding: 5px 0;
      margin: 0px 10px;
      font-size: 1.0em;

      &.success {
        background-color: $lightgreen;
      }

      &.failure {
        background-color: $orange;
      }

      &.disabled {
        background-color: gray;
      }
    }

    .last-run {
      font-size: 0.5em;
      color: black;
    }

  }

  img {
    width: 100%;
    margin: 0 auto;
  }

  #failboat {
    padding: 35px 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    background-color: #0DBC37;
  }

  h2.title {
      text-transform: none;
      font-size: 100%;
      margin-top: 20px;
  }

}
