---
http_interactions:
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/current-year-press-spokespeople/2014-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"5342a9efef922c9c550038a4","name":"current-year-press-spokespeople","time":"2014-04-07T13:36:47+00:00","value":{"Tim
        Berners-Lee":18,"Nigel Shadbolt":16,"Gavin Starks":15,"Jeni Tennison":11,"Kathryn
        Corrick":6,"Emma Thwaites":4,"Ulrich Atz":3,"Richard Stirling":3,"Waldo Jaquith":3}}'
  recorded_at: Mon, 07 Apr 2014 13:43:56 GMT
recorded_with: VCR 2.8.0
