---
http_interactions:
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/current-year-press-geographical-spread/2014-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"5342a9efef922c9c550038a6","name":"current-year-press-geographical-spread","time":"2014-04-07T13:36:47+00:00","value":{"UK":522,"Unspecified":88,"USA":53,"Canada":31,"Germany":9,"Italy":9,"Australia":6,"Singapore":4,"Belgium":3,"India":3,"France":2,"Africa":2,"Denmark":2,"Europe":1,"Brazil":1,"Austria":1,"Columbia":1,"Taiwan":1,"Nigeria":1,"Malaysia":1,"Malta":1}}'
  recorded_at: Mon, 07 Apr 2014 14:07:13 GMT
recorded_with: VCR 2.8.0
