---
http_interactions:
- request:
    method: get
    uri: https://metrics.<CAPSULECRM_ACCOUNT_NAME>.org/metrics/current-year-press-sentiment/2014-12-31T23:59:59+00:00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"5342a9efef922c9c550038a3","name":"current-year-press-sentiment","time":"2014-04-07T13:36:47+00:00","value":{"positive":412,"neutral":15,"balanced":14,"negative":1}}'
  recorded_at: Mon, 07 Apr 2014 14:33:50 GMT
recorded_with: VCR 2.8.0
