// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$value-color:       #fff;

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-number {

  padding: 15px 12px !important;

  .number {
    text-align: center;
  }

  .value {
    color: $value-color;
    font-size: 76px;
    font-size: 10vh;
    line-height: 1em;
  }

  .change-rate {
    font-weight: 500;
    font-size: 30px;
    color: $value-color;
    line-height: 40px;
    vertical-align: middle;

    &.hidden {
      display:none;
    }
  }

}

.small  {

  .value {
    font-size: 30px;
  }

}
