// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);;
$moreinfo-color:    rgba(255, 255, 255, 0.7);;

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-number {

  padding: 15px 12px !important;

  .title {
    color: $title-color;
    font-size: 30px;
    white-space: nowrap;
  }

  .number {
    text-align: center;
  }

  .value {
    color: $value-color;
    font-size: 76px;
    line-height: 1em;
  }

  .change-rate {
    font-weight: 500;
    font-size: 30px;
    color: $value-color;
    line-height: 40px;
    vertical-align: middle;

    &.hidden {
      display:none;
    }
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
  }

}

.small-number  {

  .title {
    font-size: 20px;
  }

  .value {
    font-size: 30px;
  }

}
