---
http_interactions:
- request:
    method: get
    uri: https://jeni.tennison%40<SOUNDCLOUD_USERNAME>.org:<PINGDOM_PASSWORD>@api.pingdom.com/api/2.0/checks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      app-key:
      - <PINGDOM_APP_KEY>
      authorization:
      - Basic amVuaS50ZW5uaXNvbkB0aGVvZGkub3JnOkV2bTd5MzA5Rmx4aQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      req-limit-short:
      - ! 'Remaining: 3081 Time until reset: 1691'
      req-limit-long:
      - ! 'Remaining: 84773 Time until reset: 2575608'
      server-time:
      - '1376666807'
    body:
      encoding: US-ASCII
      string: ! '{"checks":[{"id":891146,"created":1373897984,"name":"www","hostname":"www.<SOUNDCLOUD_USERNAME>.org","resolution":1,"type":"http","lasterrortime":1375721417,"lasttesttime":1376666778,"lastresponsetime":116,"status":"up","tags":[]},{"id":891166,"created":1373899434,"name":"certificates","hostname":"certificates.<SOUNDCLOUD_USERNAME>.org","resolution":1,"type":"http","lasterrortime":1376407425,"lasttesttime":1376666798,"lastresponsetime":509,"status":"up","tags":[]},{"id":891169,"created":1373899476,"name":"directory","hostname":"directory.<SOUNDCLOUD_USERNAME>.org","resolution":1,"type":"http","lasterrortime":1375780460,"lasttesttime":1376666780,"lastresponsetime":598,"status":"up","tags":[]},{"id":891171,"created":137[...]
