---
http_interactions:
- request:
    method: get
    uri: https://jeni.tennison%40<SOUNDCLOUD_USERNAME>.org:Evm7y<TERM_PROGRAM_VERSION>Flxi@api.pingdom.com/api/2.0/checks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      app-key:
      - <PINGDOM_APP_KEY>
      authorization:
      - Basic amVuaS50ZW5uaXNvbkB0aGVvZGkub3JnOkV2bTd5MzA5Rmx4aQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      req-limit-short:
      - ! 'Remaining: 3082 Time until reset: 2213'
      req-limit-long:
      - ! 'Remaining: 84863 Time until reset: 2583362'
      server-time:
      - '1376659053'
    body:
      encoding: US-ASCII
      string: ! '{"checks":[{"id":891146,"created":1373897984,"name":"www","hostname":"www.<SOUNDCLOUD_USERNAME>.org","resolution":1,"type":"http","lasterrortime":1375721417,"lasttesttime":1376659037,"lastresponsetime":75,"status":"up","tags":[]},{"id":891166,"created":1373899434,"name":"certificates","hostname":"certificates.<SOUNDCLOUD_USERNAME>.org","resolution":1,"type":"http","lasterrortime":1376407425,"lasttesttime":1376658998,"lastresponsetime":548,"status":"up","tags":[]},{"id":891169,"created":1373899476,"name":"directory","hostname":"directory.<SOUNDCLOUD_USERNAME>.org","resolution":1,"type":"http","lasterrortime":1375780460,"lasttesttime":1376659040,"lastresponsetime":171,"status":"up","tags":[]},{"id":891171,"created":137[...]
