// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #9c4274;

$meter-background:  darken($background-color, 15%);

// ----------------------------------------------------------------------------
// Widget-meter styles
// ----------------------------------------------------------------------------
.widget-meter {

  background-color: $background-color;
  padding: 20px 12px;

  input.meter {
    background-color: $meter-background;
    color: #fff;
  }

}
