---
http_interactions:
- request:
    method: post
    uri: http://api.scribd.com/api
    body:
      encoding: US-ASCII
      string: ! "--163171561828460245170\r\nContent-Disposition: form-data; name=\"username\"\r\n\r\n<SOUNDCLOUD_USERNAME>\r\n--163171561828460245170\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\n<SOUNDCLOUD_PASSWORD>\r\n--163171561828460245170\r\nContent-Disposition:
        form-data; name=\"method\"\r\n\r\nuser.login\r\n--163171561828460245170\r\nContent-Disposition:
        form-data; name=\"api_key\"\r\n\r\n<SCRIBD_KEY>\r\n--163171561828460245170\r\nContent-Disposition:
        form-data; name=\"api_sig\"\r\n\r\nbb5cba508d410611f57ae4e716ff026b\r\n--163171561828460245170--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=163171561828460245170
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"c10403e8ca9d497112f6e9cc14e9ad3c"'
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><rsp stat="ok"><session_key>sess-bb3wuqpldhbafr47221</session_key><user_id>16127692</user_id><username><SOUNDCLOUD_USERNAME></username><name></name></rsp>
  recorded_at: Wed, 24 Apr 2013 17:17:12 GMT
- request:
    method: post
    uri: http://api.scribd.com/api
    body:
      encoding: US-ASCII
      string: ! "--13549228122888193227\r\nContent-Disposition: form-data; name=\"session_key\"\r\n\r\nsess-bb3wuqpldhbafr47221\r\n--13549228122888193227\r\nContent-Disposition:
        form-data; name=\"method\"\r\n\r\ndocs.getList\r\n--13549228122888193227\r\nContent-Disposition:
        form-data; name=\"api_key\"\r\n\r\n<SCRIBD_KEY>\r\n--13549228122888193227\r\nContent-Disposition:
        form-data; name=\"api_sig\"\r\n\r\n7213894f32ea5d735cdff75d22520bea\r\n--13549228122888193227--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=13549228122888193227
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"a52bb7d961614e83d5bad44a4c2cf44f"'
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><rsp stat="ok"><resultset totalResultsAvailable="2"
        totalResultsReturned="2" firstResultPosition="1" list="true"><result><doc_id>81467879</doc_id><access_key>key-1nnwio6136g96rp6fbqm</access_key><secret_password>1x7crpn22hdn7gssa1l0</secret_password><title><![CDATA[Untitled]]></title><description><![CDATA[]]></description><thumbnail_url>http://imgv2-3.scribdassets.com/img/word_document/81467879/111x142/5533d7e553/1366817472</thumbnail_url><conversion_status><![CDATA[DONE]]></conversion_status><page_count>1</page_count><when_uploaded>2012-02-13T15:55:19+00:00</when_uploaded><when_updated>2013-04-18T09:24:12+00:00</when_updated><reads>3</reads></result><result><doc_id>137749295</doc_id><access_key>key-1pgyb5mwakgbi8s548jw</access_key><secret_password>2cd1w7af6u7afqitjer9</secret_password><title><![CDATA[3
        Stuart Harrison-MaximisingBenefitsOpenData]]></title><description><![CDATA[fsdf]]></description><thumbnail_url>http://imgv2-4.scribdassets.com/img/word_document/137749295/111x142/c43733318f/1366818188</thumbnail_url><conversion_status><![CDATA[DONE]]></conversion_status><page_count>11</page_count><when_uploaded>2013-04-24T15:31:54+00:00</when_uploaded><when_updated>2013-04-24T15:32:36+00:00</when_updated><reads>7</reads></result></resultset></rsp>
  recorded_at: Wed, 24 Apr 2013 17:17:13 GMT
[...]
- request:
    method: post
    uri: http://api.scribd.com/api
    body:
      encoding: US-ASCII
      string: ! "--1314517213319220122147\r\nContent-Disposition: form-data; name=\"doc_id\"\r\n\r\n137749295\r\n--1314517213319220122147\r\nContent-Disposition:
        form-data; name=\"method\"\r\n\r\ndocs.getStats\r\n--1314517213319220122147\r\nContent-Disposition:
        form-data; name=\"api_key\"\r\n\r\n<SCRIBD_KEY>\r\n--1314517213319220122147\r\nContent-Disposition:
        form-data; name=\"session_key\"\r\n\r\nsess-bb3wuqpldhbafr47221\r\n--1314517213319220122147\r\nContent-Disposition:
        form-data; name=\"api_sig\"\r\n\r\n05248dbeab66462c8879ed8a79f48c36\r\n--1314517213319220122147--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=1314517213319220122147
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"c87c5b12e94d58cfcecae73820c53bea"'
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><rsp stat="ok"><reads>7</reads></rsp>
  recorded_at: Wed, 24 Apr 2013 17:17:14 GMT
recorded_with: VCR 2.4.0
