---
http_interactions:
- request:
    method: post
    uri: http://api.scribd.com/api
    body:
      encoding: US-ASCII
      string: ! "--221533193138119155156\r\nContent-Disposition: form-data; name=\"username\"\r\n\r\n<SCRIBD_USERNAME>\r\n--221533193138119155156\r\nContent-Disposition:
        form-data; name=\"password\"\r\n\r\n<SCRIBD_PASSWORD>\r\n--221533193138119155156\r\nContent-Disposition:
        form-data; name=\"method\"\r\n\r\nuser.login\r\n--221533193138119155156\r\nContent-Disposition:
        form-data; name=\"api_key\"\r\n\r\n<SCRIBD_KEY>\r\n--221533193138119155156\r\nContent-Disposition:
        form-data; name=\"api_sig\"\r\n\r\n3cbfa0a82c1f7b7789c51b384f993dab\r\n--221533193138119155156--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=221533193138119155156
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"2083df53ff6de65b15cba49dbbf0ac37"'
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><rsp stat="ok"><session_key>sess-2jn67kehul27hfd7pueo</session_key><user_id>200992759</user_id><username><SCRIBD_USERNAME></username><name>Open
        Data Institute</name></rsp>
  recorded_at: Thu, 25 Apr 2013 13:49:16 GMT
- request:
    method: post
    uri: http://api.scribd.com/api
    body:
      encoding: US-ASCII
      string: ! "--278715825224714085\r\nContent-Disposition: form-data; name=\"session_key\"\r\n\r\nsess-2jn67kehul27hfd7pueo\r\n--278715825224714085\r\nContent-Disposition:
        form-data; name=\"method\"\r\n\r\ndocs.getList\r\n--278715825224714085\r\nContent-Disposition:
        form-data; name=\"api_key\"\r\n\r\n<SCRIBD_KEY>\r\n--278715825224714085\r\nContent-Disposition:
        form-data; name=\"api_sig\"\r\n\r\n35dd9681c4cb0900274666c6cf1d7cbf\r\n--278715825224714085--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=278715825224714085
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"fab5416c8a3de0ab068399ac2392fa89"'
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?><rsp stat="ok"><resultset totalResultsAvailable="12"
        list="true" totalResultsReturned="12" firstResultPosition="1"><result><doc_id>122981341</doc_id><access_key>key-aa38lqofwoftrxl3wcv</access_key><secret_password>amzxgt5ebu97bkr8fmj</secret_password><title><![CDATA[Big
        Data Comes to the NHS]]></title><description><![CDATA[<p>Friday Lunchtime
        Lectures at the Open Data Institute. For our second lecture... Big Data Comes
        to the NHS The NHS has been challenged to make &pound;20 billion in efficiency
        savings by 2015. &pound;10 billion a year are spent by the NHS on essential
        drugs. Often, there&rsquo;s a choice between a cheap generic medication, or
        an expensive branded one, so reducing prescribing variation is a priority
        as a painless way to save money. Big Data specialists, Francine Bennett and
        Bruce Durling from Mastodon C took us on a journey through their work on Prescribing
        Analytics and showed how they identified &pound;200m potential savings using
        40 million rows of open data from the NHS.</p>]]></description><thumbnail_url>http://imgv2-2.scribdassets.com/img/word_document/122981341/111x142/5237580556/1366161332</thumbnail_url><conversion_status><![CDATA[DONE]]></conversion_status><page_count>13</page_count><when_uploaded>2013-01-30T16:28:08+00:00</when_uploaded><when_updated>2013-02-15T16:47:18+00:00</when_updated><reads>1498</reads></result><result><doc_id>122989561</doc_id><access_key>key-1gjsorltaz6t0xtp0hb0</access_key><secret_password>2fubgfzlxxty00p7ag0v</secret_password><title><![CDATA[Legislation
        as Data]]></title><description><![CDATA[<p>Friday Lunchtime Lectures at the
        Open Data Institute: 25 January 2013. For our third lecture... Legislation
        as Data Legislation affects us all. Many of our most important rights, duties
        and obligations are set out in statute law. What doe[...]
[...]
- request:
    method: post
    uri: http://api.scribd.com/api
    body:
      encoding: US-ASCII
      string: ! "--6650158651170210103\r\nContent-Disposition: form-data; name=\"doc_id\"\r\n\r\n137758343\r\n--6650158651170210103\r\nContent-Disposition:
        form-data; name=\"method\"\r\n\r\ndocs.getStats\r\n--6650158651170210103\r\nContent-Disposition:
        form-data; name=\"api_key\"\r\n\r\n<SCRIBD_KEY>\r\n--6650158651170210103\r\nContent-Disposition:
        form-data; name=\"session_key\"\r\n\r\nsess-2jn67kehul27hfd7pueo\r\n--6650158651170210103\r\nContent-Disposition:
        form-data; name=\"api_sig\"\r\n\r\na292b9faa0dc7bd90060cc94969fe93f\r\n--6650158651170210103--\r\n"
    headers:
      content-type:
      - multipart/form-data; boundary=6650158651170210103
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
      status:
      - 200 OK
      etag:
      - ! '"0cb8fe234fd8dd36e43b015d8b822b44"'
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><rsp stat="ok"><reads>373</reads></rsp>
  recorded_at: Thu, 25 Apr 2013 13:49:26 GMT
recorded_with: VCR 2.4.0
