---
http_interactions:
- request:
    method: get
    uri: http://jenkins.<SOUNDCLOUD_USERNAME>.org/view/failboat/api/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-jenkins:
      - 1.509.2
      x-jenkins-session:
      - 9cb112a5
    body:
      encoding: US-ASCII
      string: ! '{"description":null,"jobs":[{"name":"open-data-certificate-missing-autocompletion-fields","url":"http://jenkins.<SOUNDCLOUD_USERNAME>.org/job/open-data-certificate-missing-autocompletion-fields/","color":"red"}],"name":"failboat","property":[],"url":"http://jenkins.<SOUNDCLOUD_USERNAME>.org/view/failboat/"}'
  recorded_at: Fri, 16 Aug 2013 13:13:08 GMT
recorded_with: VCR 2.5.0
