---
http_interactions:
- request:
    method: get
    uri: http://jenkins.<SOUNDCLOUD_USERNAME>.org/view/All/api/json?tree=jobs[name,lastBuild[result,timestamp]]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-jenkins:
      - 1.509.2
      x-jenkins-session:
      - 9cb112a5
    body:
      encoding: US-ASCII
      string: ! '{"jobs":[{"name":"alternate-rails-master","lastBuild":{"result":"SUCCESS","timestamp":1376063719608}},{"name":"asset-manager-master","lastBuild":{"result":"SUCCESS","timestamp":1376050352798}},{"name":"bimble-runner","lastBuild":{"result":"SUCCESS","timestamp":1376466223784}},{"name":"buildmemes-master","lastBuild":{"result":"SUCCESS","timestamp":1376388570849}},{"name":"content_api-foremanise","lastBuild":{"result":"SUCCESS","timestamp":1374745559760}},{"name":"content_api-master","lastBuild":{"result":"SUCCESS","timestamp":1376058529184}},{"name":"csv-profiler-columnise","lastB[...]
- request:
    method: get
    uri: http://jenkins.<SOUNDCLOUD_USERNAME>.org/view/failboat/api/json?tree=jobs[name,lastBuild[result,timestamp]]
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
      x-jenkins:
      - 1.509.2
      x-jenkins-session:
      - 9cb112a5
    body:
      encoding: US-ASCII
      string: ! '{"jobs":[{"name":"open-data-certificate-missing-autocompletion-fields","lastBuild":{"result":"FAILURE","timestamp":1376497286572}}]}'
  recorded_at: Fri, 16 Aug 2013 13:03:05 GMT
recorded_with: VCR 2.5.0
