// ----------------------------------------------------------------------------
// Widget-image styles
// ----------------------------------------------------------------------------
.widget-image {

  margin: 0;
  padding: 0 !important;
  
  img {
    height: 300px;
    margin: 0 auto;
  }
  
  div.pass {
    background-color: green;
  }
  
  div.fail {
    background-color: red;
  }
  
  #trombone {
    display: none;
  }

}
