---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/boards/5343be8b0876eb6e19c59ba7/lists?filter=open&key=<TRELLO_DEV_KEY>&token=<TRELLO_MEMBER_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      accept-enc<METRICS_API_USERNAME>ng:
      - gzip, deflate
  response:
    status:
      code: 200
      message: OK
    headers:
      x-server-time:
      - '1396951417844'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"id":"5343be8b0876eb6e19c59ba8","name":"External outcomes","closed":false,"idBoard":"5343be8b0876eb6e19c59ba7","pos":16384,"subscribed":false},{"id":"5343be8b0876eb6e19c59ba9","name":"Internal
        outcomes","closed":false,"idBoard":"5343be8b0876eb6e19c59ba7","pos":32768,"subscribed":false},{"id":"5343be8b0876eb6e19c59baa","name":"To
        discuss","closed":false,"idBoard":"5343be8b0876eb6e19c59ba7","pos":49152,"subscribed":false},{"id":"5343befa1f417e5919345429","name":"Done","closed":false,"idBoard":"5343be8b0876eb6e19c59ba7","pos":114688,"subscribed":false}]'
  recorded_at: Tue, 08 Apr 2014 10:03:40 GMT
recorded_with: VCR 2.8.0
