// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #47bbb3;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);;
$moreinfo-color:    rgba(255, 255, 255, 0.7);;

// ----------------------------------------------------------------------------
// Widget-number-with-target styles
// ----------------------------------------------------------------------------
.widget-number-with-target {

  background-color: $background-color;
  position: relative;

  .title {
    color: $title-color;
    font-size: 15px;
  }

  .annual-bar {
    height: 50px;
    width: 100%;
    background: lightgray;
    position: absolute;
    z-index: 0;
  }

  .ytd-bar {
    height: 70px;
    border-right: 5px solid blue;
    background: transparent;
    position: absolute;
    z-index: 2;
  }

  .value-bar {
    height: 50px;
    background: green;
    position: absolute;
    z-index: 1;
  }

}
