// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #47bbb3;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);;
$moreinfo-color:    rgba(255, 255, 255, 0.7);;

// ----------------------------------------------------------------------------
// Widget-number-with-target styles
// ----------------------------------------------------------------------------
.widget-number-with-target {

  background-color: $background-color;
  padding: 15px 12px !important;

  .title {
    color: $title-color;
    font-size: 15px;
  }
  
  .number {
    text-align: center;
  }

  .value {
    color: $value-color;
    font-size: 30px;
    line-height: 15px;
  }

  .change-rate {
    font-weight: 500;
    font-size: 30px;
    color: $value-color;
    line-height: 40px;
    vertical-align: middle;
    
    &.hidden {
      display:none;
    }
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;
  }

}

.widget-number-with-target {
  
  &.issues-graph {
    background-color: #dc5945;
    
    .title {
      font-size: 60px;
    }
    
    .value {
      font-size: 100px;
      line-height: 80px;
    }
  }

}