// Primary brand colours

$blue:       #2254F4;
$lightblue:  #00B7FF;
$cyan:       #08DEF9;
$turquoise:  #1DD3A7;
$green:      #0DBC37;
$lightgreen: #67EF67;
$yellow:     #F9BC26;
$orange:     #FF6700;
$red:        #D60303;
$pink:       #EF3AAB;
$magenta:    #E6007C;
$purple:     #B13198;

// Secondary brand colours

$black:      #000000;
$darkgrey:   #333333;
$lightgrey:  #999999;
$darkblue:   #2F529F;
$midblue:    #00ACE8;
$teal:       #7DC5EA;

// Default widget colour

ul.grid > li > div {
  background-color: $darkgrey;
}

// Quarterly progress bars

#q4-progress {
  background-color: $darkblue;
}

#q3-progress {
  background-color: $turquoise;
}

#q2-progress {
  background-color: $lightblue;
}

#q1-progress {
  background-color: $blue;
}

// Company

#bookings {
  background-color: $orange;
}

#value-unlocked {
  background-color: $blue;
}

#network-size {
  background-color: $green;
}

#odcs {
  background-color: $magenta;
}

#grant-funding {
  background-color: $pink;
}

#non-commercial-bookings {
  background-color: $yellow;
}

#kpis {
  background-color: $purple;
}

#members {
  background-color: $green;
}

#revenue-by-sector {
  background-color: $purple;
}

#total-members {
  background-color: $darkblue;
}

#member-members {
  background-color: $yellow;
}

#partner-members {
  background-color: $orange;
}

#sponsor-members {
  background-color: $red;
}

#renewals {
  background-color: $green;
}

#income {
  background-color: $turquoise;
}

#ranking {
  background-color: $blue;
}

#weighted-pipeline {
  background-color: $orange;
}

#old-opportunities {
  background-color: $red;
}

#revenue {
  background-color: $magenta;
}

#backlog {
  background-color: $purple;
}

#pipeline {
  background-color: $lightblue;
}

#weighted-pipeline {
  background-color: $blue;
}

// Reach

#total-reach {
  background-color: $red;
}

#active-reach {
  background-color: $orange;
}

#passive-reach {
  background-color: $yellow;
}

#articles {
  background-color: $green;
}

#events {
  background-color: $lightblue;
}

#people-trained {
  background-color: $pink;
}

// Progress

.this-month {
  background-color: $red;
}

.rest-of-quarter {
  background-color: $blue;
}

.discuss {
  background-color: $yellow;
}

.done {
  background-color: $green;
}

// Tech

#twitter-mentions {
  background-color: $purple;
}

#pingdom {
  background-color: $lightblue;
}

#build-status {
  background-color: $yellow;
}

#issues {
  background-color: $red;
}

#open-prs {
  background-color: $orange;
}

#external-prs {
  background-color: $yellow;
}

#external-merged {
  background-color: $green;
}

#milestone {
  background-color: $blue;
}
