#currency-switch {
  position: absolute;
  bottom: 5px;
  left: 225px;
}

.currency {
  border-radius: 3px;
  padding: 5px 10px;
  margin: 0px;
  cursor: pointer;
  color: #999;
}

.currency-active {
  background: #999;
  color: black;
}

.currency:hover {
  background: #333;
  color: #999;
}

@media all and ( max-width: 600px ) {
  .currency {
    font-size: 15px;
    padding: 2px 7px;
  }

  #currency-switch {
    bottom: 45px;
    left: 175px;
  }
}
