#membership {

  #renewals {

    h2 {
      font-size: 25px;
      text-transform: none;
      color: rgba(255, 255, 255, 0.7);
      font-weight: normal;
      margin-bottom: 8px;
    }

    .list {
      width: 32%;
      float: left;
      margin-right: 1%;

      li {
        width: 76%;
        margin-left: 13%;
        text-align: left;
        position: relative;

        .value {
          position: absolute;
          right: 0;
        }
      }
    }
  }

  .by-level {

    h2.value {
      font-size: 50px;
    }

  }

}
