#company-header {
  width: 100%;
  margin: 0px auto;
  position: relative;

  img {
    width: 195px;
  }

  h1.title {
    float: right;
    font-size: 55px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #AAA;
    position: relative;

    #dropdown {
      font-size: 24px;
      color: #666;
    }

    ul#nav {
      position: absolute;
      right: 0px;
      z-index: 100;
      background: #666;
      color: white;
      list-style: none;
      text-align: left;
      font-size: 16px;
      line-height: 20px;
      font-weight: normal;
      display: none;

      li {
        padding: 10px 20px;
      }

      li:nth-child(even) {
        background: #555;
      }
    }
  }

  h1.title:hover {
    #dropdown {
      background: #666;
      padding-bottom: 10px;
      color: white;
    }
    ul#nav {
      display: block;
    }
  }

}

@media all and ( max-width: 768px ) {
  #company-header {
    margin: 5px;
    h1.title {
      text-align: left;
      font-size: 45px;
      float: none;
    }
  }

  ul#nav.visible {
    width: 100%;
    position: static;

    a {
      width: 100%;
      display: block;
    }
  }

}
