// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;
$value-color:       #fff;

$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-lecturelist styles
// ----------------------------------------------------------------------------
.widget-lecturelist {

  background-color: $background-color;
  vertical-align: top;

  ol, ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 5px;
  }

  .list-nostyle {
    list-style: none;
  }

  .label {
    color: $label-color;
    text-align: center;
    font-size: 18px;

    &:active, &:hover {
     text-decoration: underline;
    }
  }

  .value {
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: $value-color;
  }

  .people {
    margin-top: 4px;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .more-info {
    color: $moreinfo-color;
  }

  .icon-user {
    font-size: 12px;
  }

  .icon-user.available {
    opacity: 0.5;
  }

  p {
    text-align: center;
  }

}
