<div id='currency-switch'>
  <script>
    function setCurrency(currency) {
      $(".currency").removeClass("currency-active");
      $("#"+currency).addClass("currency-active");
      Dashing.setCurrency(currency);
      return false;
    }
  </script>
  <a class='currency currency-active' id='GBP' onClick='setCurrency("GBP")' title="View currencies in Pounds Sterling">£</a>
  <a class='currency' id='EUR' onClick='setCurrency("EUR")' title="View currencies in Euro">€</a>
  <a class='currency' id='USD' onClick='setCurrency("USD")' title="View currencies in US Dollars">$</a>
  <a class='currency' id='JPY' onClick='setCurrency("JPY")' title="View currencies in Japanese Yen">¥</a>
  <a class='currency' id='KRW' onClick='setCurrency("KRW")' title="View currencies in South Korean Won">₩</a>
</div>
