<ul id='nav'>
  <% navigation_tree.each do |item| %>
    <li>
      <% if item == '---' %>
        <hr>
      <% else %>
        <a href='/<%= item %>'><%= get_navigation(item) %></a>
      <% end %>
    </li>
  <% end %>
</ul>
