<script type='text/javascript'>
$(function() {
  Dashing.setSize(3,8) // rows, cols
});
</script>
<div class="gridster" id="commercial">
  <ul>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="pipeline" data-view="Number" data-unordered="true" data-title="Total pipeline" id="pipeline"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="weighted-pipeline" data-view="Number" data-unordered="true" data-title="Weighted pipeline" id="weighted-pipeline"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="three-year-pipeline" data-view="Number" data-unordered="true" data-title="Three year pipeline" id="three-year-pipeline"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="3" data-sizey="1">
      <div data-id="bookings" data-view="Number" data-unordered="true" data-title="Commercial bookings" id="bookings"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="3" data-sizey="1">
      <div data-id="revenue" data-view="Number" data-unordered="true" data-title="Grant revenue recognised" id="revenue"></div>
    </li>
    <li data-row="3" data-col="4" data-sizex="3" data-sizey="1">
      <div data-id="backlog" data-view="Number" data-unordered="true" data-title="Grant income backlog" id="backlog"></div>
    </li>

    <li data-row="1" data-col="6" data-sizex="2" data-sizey="1">
      <div data-id="members" data-view="Number" data-unordered="true" data-title="Members signed" id="members"></div>
    </li>
    <li data-row="1" data-col="6" data-sizex="2" data-sizey="1">
      <div data-id="age" data-view="Number" data-unordered="true" data-title="Average age of opportunities" id="age"></div>
    </li>
    <li data-row="1" data-col="6" data-sizex="2" data-sizey="1">
      <div data-id="old-opportunities" data-view="Number" data-unordered="true" data-title="Old opportunities" id="old-opportunities"></div>
    </li>
  </ul>
</div>
