<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [150, 180]
  Dashing.numColumns = 8
  // Disable the layout drag
});
</script>
<% content_for(:title) { "ODI Membership Dashboard" } %>
<div class="gridster" id="commercial">
  <ul>
    <li data-row="1" data-col="1" data-sizex="8" data-sizey="1" id="company-header">
        <a href="http://theodi.org/"><img src="/assets/companylogo.png" /></a>
        <h1 class="title">Commercial Dashboard</h1>
    </li>
    <li data-row="2" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="pipeline" data-view="Number" data-unordered="true" data-title="Total Pipeline" id="pipeline"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="weighted-pipeline" data-view="Number" data-unordered="true" data-title="Weighted Pipeline" id="weighted-pipeline"></div>
    </li>
    <li data-row="4" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="three-year-pipeline" data-view="Number" data-unordered="true" data-title="Three Year Pipeline" id="three-year-pipeline"></div>
    </li>
    
    <li data-row="2" data-col="4" data-sizex="3" data-sizey="1">
      <div data-id="bookings" data-view="Number" data-unordered="true" data-title="Commercial Bookings" id="bookings"></div>
    </li>
    <li data-row="3" data-col="4" data-sizex="3" data-sizey="1">
      <div data-id="revenue" data-view="Number" data-unordered="true" data-title="Grant Revenue Recognised" id="revenue"></div>
    </li>
    <li data-row="4" data-col="4" data-sizex="3" data-sizey="1">
      <div data-id="backlog" data-view="Number" data-unordered="true" data-title="Grant income backlog" id="backlog"></div>
    </li>
    
    <li data-row="2" data-col="6" data-sizex="2" data-sizey="1">
      <div data-id="members" data-view="Number" data-unordered="true" data-title="Members signed" id="members"></div>
    </li>
    <li data-row="2" data-col="6" data-sizex="2" data-sizey="1">
      <div data-id="age" data-view="Number" data-unordered="true" data-title="Average age of opportunities" id="age"></div>
    </li>
    <li data-row="2" data-col="6" data-sizex="2" data-sizey="1">
      <div data-id="old-opportunities" data-view="Number" data-unordered="true" data-title="Old opportunities" id="old-opportunities"></div>
    </li>
  </ul>
</div>