<ul class="grid rows-3 cols-3" id="commercial">
  <li class="row-1 col-1">
    <div data-id="pipeline" data-view="Number" data-unordered="true" data-title="Total Pipeline" id="pipeline"></div>
  </li>
  <li class="row-2 col-1">
    <div data-id="weighted-pipeline" data-view="Number" data-unordered="true" data-title="Weighted Pipeline" id="weighted-pipeline"></div>
  </li>
  <li class="row-3 col-1">
    <div data-id="three-year-pipeline" data-view="Number" data-unordered="true" data-title="Three Year Pipeline" id="three-year-pipeline"></div>
  </li>

  <li class="row-1 col-2">
    <div data-id="bookings" data-view="Number" data-unordered="true" data-title="Commercial Bookings" id="bookings"></div>
  </li>
  <li class="row-2 col-2">
    <div data-id="revenue" data-view="Number" data-unordered="true" data-title="Grant Revenue Recognised" id="revenue"></div>
  </li>
  <li class="row-3 col-2">
    <div data-id="backlog" data-view="Number" data-unordered="true" data-title="Grant income backlog" id="backlog"></div>
  </li>

  <li class="row-1 col-3">
    <div data-id="members" data-view="Number" data-unordered="true" data-title="Members signed" id="members"></div>
  </li>
  <li class="row-2 col-3">
    <div data-id="age" data-view="Number" data-unordered="true" data-title="Average age of opportunities" id="age"></div>
  </li>
  <li class="row-3 col-3">
    <div data-id="old-opportunities" data-view="Number" data-unordered="true" data-title="Old opportunities" id="old-opportunities"></div>
  </li>
</ul>
