<ul class="grid rows-6 cols-8">
  <li class='row-1 col-1 width-2 height-3'>
    <div data-id="twitter_mentions" data-view="Comments" data-title="@UKODITech Mentions" style="background-color: #71388a"></div>
  </li>
  <li class='row-4 col-1 width-2 height-3'>
    <div data-id="pingdom-status" data-view="List" data-title="Pingdom status"></div>
  </li>
  <li class='row-1 col-3 width-3 height-4'>
    <div data-id="jenkins-builds" data-view="Jenkins" data-unordered="true" data-title="Travis Builds"></div>
  </li>
  <li class='row-5 col-3 width-3 height-2'>
    <div data-id="jenkins-build-image" data-view="Image" data-unordered="true"></div>
  </li>
  <li class='row-1 col-6 width-3 height-2' style="background-color: #dc5945">
    <div data-id="issues-graph" data-view="Number" data-title="Issues"></div>
  </li>
  <li class='row-3 col-6'>
    <div data-id="pull-requests" data-view="Number" data-title="Open PRs"></div>
  </li>
  <li class='row-3 col-7'>
    <div data-id="external-pulls" data-view="Number" data-title="External PRs"></div>
  </li>
  <li class='row-3 col-8'>
    <div data-id="external-pulls-merged" data-view="Number" data-title="Ex. PRs Merged"></div>
  </li>
  <li class='row-4 col-6 width-3 height-3'>
    <div data-id="milestone" data-view="Meter"></div>
  </li>
</ul>
