<ul class="grid rows-6 cols-8">
  <li class='row-1 col-1 width-2 height-2'>
    <div data-id="milestone" data-view="Meter" id='milestone'></div>
  </li>
  <li class='row-3 col-1'>
    <div class='small' data-id="issues-graph" data-view="Number" data-title="Issues" id='issues'></div>
  </li>
  <li class='row-3 col-2'>
    <div class='small' data-id="pull-requests" data-view="Number" data-title="Open PRs" id='open-prs'></div>
  </li>
  <li class='row-4 col-1'>
    <div class='small' data-id="external-pulls" data-view="Number" data-title="External PRs" id='external-prs'></div>
  </li>
  <li class='row-4 col-2'>
    <div class='small' data-id="external-pulls-merged" data-view="Number" data-title="Ex. PRs Merged" id='external-merged'></div>
  </li>
  <li class='row-5 col-1 width-2 height-2'>
    <div data-id="twitter_mentions" data-view="Comments" data-title="@UKODITech Mentions" id='twitter-mentions'></div>
  </li>
  <li class='row-1 col-3 width-4 height-6'>
    <div data-id="travis-builds" data-view="Travis" data-unordered="true" data-title="Build Status" id='build-status'></div>
  </li>
  <li class='row-1 col-7 width-2 height-2'>
    <div data-id="travis-build-image" data-view="Image" data-unordered="true" id='build-image'></div>
  </li>
  <li class='row-3 col-7 width-2 height-4'>
    <div data-id="pingdom-status" data-view="List" data-title="Pingdom status" id='pingdom'></div>
  </li>
</ul>
