<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [150, 140]
  Dashing.numColumns = 8
  // Disable the layout drag
});
</script>
<% content_for(:title) { "ODI Tech Team" } %>
<div class="gridster" data-id>
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div id="tech-header">
        <a href="http://theodi.org/"><img src="/assets/odi.png" /></a>
        <h1 class='title'>Tech Team</h2>
      </div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="twitter_mentions" data-view="Comments" data-title="@UKODITech Mentions" style="background-color: #71388a"></div>
    </li>
    <li data-row="4" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="pingdom-status" data-view="List" data-title="Pingdom status"></div>
    </li>    
    <li data-row="1" data-col="3" data-sizex="3" data-sizey="2">
      <div data-id="jenkins-builds" data-view="Jenkins" data-unordered="true" data-title="Jenkins Builds"></div>
    </li>
    <li data-row="4" data-col="3" data-sizex="3" data-sizey="2">
      <div data-id="jenkins-build-image" data-view="Image" data-unordered="true"></div>
    </li>
    <li data-row="1" data-col="6" data-sizex="3" data-sizey="2" style="background-color: #dc5945">
      <div data-id="issues-graph" data-view="Number" data-title="Issues"></div>
    </li>   
    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="pull-requests" data-view="Number" data-title="Open Pull Requests"></div>
    </li>
    <li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="external-pulls" data-view="Number" data-title="External Pull Requests"></div>
    </li>
    <li data-row="3" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="external-pulls-merged" data-view="Number" data-title="External Pull Requests Merged"></div>
    </li>
    <li data-row="4" data-col="6" data-sizex="3" data-sizey="2">
      <div data-id="milestone" data-view="Meter"></div>
    </li>
  </ul>
</div>