<script type='text/javascript'>
$(function() {
  Dashing.setSize(6,8) // rows, cols
});
</script>
<div class="gridster" data-id>
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="3">
      <div data-id="twitter_mentions" data-view="Comments" data-title="@UKODITech mentions" style="background-color: #71388a"></div>
    </li>
    <li data-row="4" data-col="1" data-sizex="2" data-sizey="3">
      <div data-id="pingdom-status" data-view="List" data-title="Pingdom status"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="3" data-sizey="4">
      <div data-id="jenkins-builds" data-view="Jenkins" data-unordered="true" data-title="Jenkins builds"></div>
    </li>
    <li data-row="5" data-col="3" data-sizex="3" data-sizey="2">
      <div data-id="jenkins-build-image" data-view="Image" data-unordered="true"></div>
    </li>
    <li data-row="1" data-col="6" data-sizex="3" data-sizey="2" style="background-color: #dc5945">
      <div data-id="issues-graph" data-view="Number" data-title="Issues"></div>
    </li>
    <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="pull-requests" data-view="Number" data-title="Open pull requests"></div>
    </li>
    <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="external-pulls" data-view="Number" data-title="External pull requests"></div>
    </li>
    <li data-row="2" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="external-pulls-merged" data-view="Number" data-title="External pull requests merged"></div>
    </li>
    <li data-row="3" data-col="6" data-sizex="3" data-sizey="2">
      <div data-id="milestone" data-view="Meter"></div>
    </li>
  </ul>
</div>
