<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
  // Disable the layout drag
  $(".gridster ul:first").gridster().data('gridster').disable()
});
</script>

<% content_for(:title) { "ODI Training & Events" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="event-list" data-view="Linklist" data-unordered="true" data-title="Upcoming Events"></div>
    </li>
  </ul>
</div>