<ul class="grid rows-16 cols-3" id="research">
  <li class="row-1 col-1 width-3">
    <div style='text-align: center; background-color: black'>Commercial</div>
  </li>
  <li class="row-2 col-1 height-7">
    <div data-id="2014-Commercial-research" data-view="NumberWithTarget" data-unordered="true" data-title="Research" id="tile-1"></div>
  </li>
  <li class="row-2 col-2 height-7">
    <div data-id="2014-Commercial-training" data-view="NumberWithTarget" data-unordered="true" data-title="Training" id="tile-2"></div>
  </li>
  <li class="row-2 col-3 height-7">
    <div data-id="2014-Commercial-projects" data-view="NumberWithTarget" data-unordered="true" data-title="Projects" id="tile-3"></div>
  </li>

  <li class="row-9 col-1 width-3">
    <div style='text-align: center; background-color: black'>Non-Commercial</div>
  </li>
  <li class="row-10 col-1 height-7">
    <div data-id="2014-Non-commercial-research" data-view="NumberWithTarget" data-unordered="true" data-title="Research" id="tile-10"></div>
  </li>
  <li class="row-10 col-2 height-7">
    <div data-id="2014-Non-commercial-training" data-view="NumberWithTarget" data-unordered="true" data-title="Training" id="tile-11"></div>
  </li>
  <li class="row-10 col-3 height-7">
    <div data-id="2014-Non-commercial-projects" data-view="NumberWithTarget" data-unordered="true" data-title="Projects" id="tile-12"></div>
  </li>
</ul>
