<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [150, 140]
  Dashing.numColumns = 8
  // Disable the layout drag
});
</script>
<% content_for(:title) { "Research, Projects and Training" } %>
<div class="gridster" id="company">
  <ul>
    <li data-row="1" data-col="1" data-sizex="8" data-sizey="1" id="company-header">
        <a href="http://theodi.org/"><img src="/assets/companylogo.png" /></a>
        <h1 class="title">Research, Projects and Training</h1>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="2014-Commercial-research" data-view="Number" data-unordered="true" data-title="Commercial research" id="tile-1"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="2014-Commercial-training" data-view="Number" data-unordered="true" data-title="Commercial training" id="tile-2"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="2" data-sizey="2">
      <div data-id="2014-Commercial-projects" data-view="Number" data-unordered="true" data-title="Commercial projects" id="tile-3"></div>
    </li>

    <li data-row="4" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="2014-Non-commercial-research" data-view="Number" data-unordered="true" data-title="Non-commercial research" id="tile-10"></div>
    </li>
    <li data-row="4" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="2014-Non-commercial-training" data-view="Number" data-unordered="true" data-title="Non-commercial training" id="tile-11"></div>
    </li>
    <li data-row="4" data-col="5" data-sizex="2" data-sizey="2">
      <div data-id="2014-Non-commercial-projects" data-view="Number" data-unordered="true" data-title="Non-commercial projects" id="tile-12"></div>
    </li>
</div>
