---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/average-opportunity-age
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52addd76ef922c6e5700000a","name":"average-opportunity-age","time":"2013-12-15T16:48:54+00:00","value":156}'
  recorded_at: Mon, 16 Dec 2013 09:07:28 GMT
recorded_with: VCR 2.8.0
