---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/total-pipeline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52ca2c1fef922c6e57000081","name":"total-pipeline","time":"2014-01-06T04:07:59+00:00","value":{"2014-01-01/2014-12-31":470825,"2014-01-01/2016-12-31":470825}}'
  recorded_at: Mon, 06 Jan 2014 11:46:51 GMT
recorded_with: VCR 2.8.0
