---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/old-opportunity-count
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52addd76ef922c6e5700000b","name":"old-opportunity-count","time":"2013-12-15T16:48:54+00:00","value":107}'
  recorded_at: Mon, 16 Dec 2013 09:13:28 GMT
recorded_with: VCR 2.8.0
