---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/membership-count
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52addd79ef922c6e5700000d","name":"membership-count","time":"2013-12-15T16:48:57+00:00","value":{"total":52,"by_level":{"supporter":38,"sponsor":6,"partner":4,"member":4}}}'
  recorded_at: Mon, 16 Dec 2013 08:41:50 GMT
recorded_with: VCR 2.8.0
