---
http_interactions:
- request:
    method: get
    uri: https://metrics.<SOUNDCLOUD_USERNAME>.org/metrics/total-pipeline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"_id":"52aecca5ef922c6e5700000e","name":"total-pipeline","time":"2013-12-16T09:49:25+00:00","value":{"2013-01-01/2013-12-31":2569025,"2013-01-01/2015-12-31":2665145}}'
  recorded_at: Mon, 16 Dec 2013 10:33:40 GMT
recorded_with: VCR 2.8.0
