<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [400, 140]
  Dashing.numColumns = 3
  // Disable the layout drag
});
</script>
<div class="gridster" id="opex">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="2014-Active-members" data-view="NumberWithTarget" data-unordered="true" data-title="Active Members" id="tile-1"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="2">
      <div data-id="2014-Partners" data-view="NumberWithTarget" data-unordered="true" data-title="Partners" id="tile-2"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="2">
      <div data-id="2014-Nodes" data-view="NumberWithTarget" data-unordered="true" data-title="Nodes" id="tile-12"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="2014-Supporters" data-view="NumberWithTarget" data-unordered="true" data-title="Supporters" id="tile-3"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="2">
      <div data-id="2014-Sponsors" data-view="NumberWithTarget" data-unordered="true" data-title="Sponsors" id="tile-11"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="2">
      <div data-id="2014-Startups" data-view="NumberWithTarget" data-unordered="true" data-title="Startups" id="tile-10"></div>
    </li>

  </ul>
</div>
