<ul class="grid rows-2 cols-3" id="opex">
  <li class="row-1 col-1">
    <div data-id="2014-Active-members" data-view="NumberWithTarget" data-unordered="true" data-title="Active Members" id="active-members"></div>
  </li>
  <li class="row-1 col-2">
    <div data-id="2014-Partners" data-view="NumberWithTarget" data-unordered="true" data-title="Partners" id="partners"></div>
  </li>

  <li class="row-1 col-3">
    <div data-id="2014-Nodes" data-view="NumberWithTarget" data-unordered="true" data-title="Nodes" id="nodes"></div>
  </li>

  <li class="row-2 col-1">
    <div data-id="2014-Supporters" data-view="NumberWithTarget" data-unordered="true" data-title="Supporters" id="supporters"></div>
  </li>
  <li class="row-2 col-2">
    <div data-id="2014-Sponsors" data-view="NumberWithTarget" data-unordered="true" data-title="Sponsors" id="sponsors"></div>
  </li>

  <li class="row-2 col-3">
    <div data-id="2014-Startups" data-view="NumberWithTarget" data-unordered="true" data-title="Startups" id="startups"></div>
  </li>

</ul>
