<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [300, 280]
  Dashing.numColumns = 4
  // Disable the layout drag
});
</script>
<div class="gridster" id="opex">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="2014-Income" data-view="NumberWithTarget" data-unordered="true" data-title="Income"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="2014-Total-Costs" data-view="NumberWithTarget" data-unordered="true" data-title="Total costs"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="2014-Headcount" data-view="Number" data-unordered="true" data-title="Headcount" id="tile-1"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="2014-EBITDA" data-view="Number" data-unordered="true" data-title="EBITDA"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="2014-Burn" data-view="Number" data-unordered="true" data-title="Burn Rate" id="tile-2"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="2014-Cash-Reserves" data-view="Number" data-unordered="true" data-title="Cash Reserves" id="tile-2"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="2">
      <div data-id="2014-Fixed-cost-breakdown" data-view="Pie" data-title="Costs breakdown"></div>
    </li>

  </ul>
</div>
