<ul class="grid rows-4 cols-4" id="opex">
  <li class="row-1 col-1 height-2">
    <div data-id="2014-Income" data-view="NumberWithTarget" data-unordered="true" data-title="Income" id="tile-8"></div>
  </li>
  <li class="row-3 col-1 height-2">
    <div data-id="2014-Total-Costs" data-view="NumberWithTarget" data-unordered="true" data-title="Total costs" id="tile-3"></div>
  </li>
  <li class="row-1 col-2 height-2">
    <div data-id="2014-Headcount" data-view="Number" data-unordered="true" data-title="Headcount" id="tile-1"></div>
  </li>
  <li class="row-3 col-2 height-1">
    <div data-id="2014-EBITDA-YTD" data-view="Number" data-unordered="true" data-title="EBITDA (YTD)" id="tile-11"></div>
  </li>
  <li class="row-4 col-2 height-1">
    <div data-id="2014-EBITDA" data-view="Number" data-unordered="true" data-title="EBITDA (This Month)" id="tile-10"></div>
  </li>
  <li class="row-1 col-3 height-2">
    <div data-id="2014-Burn" data-view="Number" data-unordered="true" data-title="Burn Rate" id="tile-2"></div>
  </li>
  <li class="row-3 col-3 height-2">
    <div data-id="2014-Cash-Reserves" data-view="Number" data-unordered="true" data-title="Cash Reserves" id="tile-9"></div>
  </li>
  <li class="row-1 col-4 height-4">
    <div data-id="2014-Fixed-cost-breakdown" data-view="Pie" data-title="Costs breakdown" id="tile-12"></div>
  </li>

</ul>
