// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #9c4274;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.3);

$meter-background:  darken($background-color, 15%);

// ----------------------------------------------------------------------------
// Widget-meter styles
// ----------------------------------------------------------------------------
.widget-smallmeter {

  background-color: $background-color;
  padding: 0 12px;

  h1 {
    margin: 0;
  }

  progress[value] {
    -webkit-appearance: none;
     appearance: none;
  }

  progress[value]::-webkit-progress-bar {
    background: rgba(153, 153, 153, 0.5);
    padding: 2px;
    box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.5);
  }

  progress[value]::-webkit-progress-value {
    background-color: #fff;
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
  }

  .meter-container {
    width: 280px;
    margin: 0 auto;
    position: relative;

    progress {
      width: 170px;
    }

    .percentage {
      text-align: left;
      position: absolute;
      top: 0;
      right: 0;
      padding: 3px 0;
      color: #eee;
      font-size: 15px;
    }

  }

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

}
