---
http_interactions:
- request:
    method: post
    uri: https://api.soundcloud.com/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&username=<SOUNDCLOUD_USERNAME>&password=<SOUNDCLOUD_PASSWORD>&client_id=<SOUNDCLOUD_CLIENT_ID>&client_secret=<SOUNDCLOUD_SECRET>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"8ace4f7abbf944bd40885694f94e73e3"'
    body:
      encoding: US-ASCII
      string: ! '{"access_token":"1-39082-34504445-2a39793bdb004d9","expires_in":21599,"scope":"*","refresh_token":"95fe686cf5ba7dc71124e529b42806e8"}'
  recorded_at: Wed, 24 Apr 2013 18:11:03 GMT
- request:
    method: get
    uri: https://api.soundcloud.com/me/tracks?format=json&oauth_token=1-39082-34504445-2a39793bdb004d9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"75c4e12bd4c6b90ec7a8fffca6767573"'
    body:
      encoding: US-ASCII
      string: ! '[{"kind":"track","id":86031061,"created_at":"2013/04/02 11:50:32
        +0000","user_id":34504445,"duration":1548135,"commentable":true,"state":"finished","original_content_size":24767583,"sharing":"public","tag_list":"opendata
        \"David Mitton\" Listpoint government ODIFridays \"Open Data Institute\" lecture
        \"reference data\" value","permalink":"how-to-create-more-value-from","streamable":true,"embeddable_by":"all","downloadable":true,"purchase_url":null,"label_id":null,"purchase_title":null,"genre":"Lecture","title":"How
        to create more value from government open data","description":"Friday Lunchtime
        Lectures at the Open Data Institute,\r\n22 March 2013.\r\n\r\nHas most of
        government data released openly so far been flytipping, little used and of
        little value? \r\n\r\nDavid Mitton, of ListPoint, will discuss how more value
        from government data can be realised. Using the national police database as
        a case study, he will examine how this data was made more widely usable and
        how IT implementation costs were reduced by 20%, just by surfacing and mapping
        the data standards.","label_name":"","release":"","track_type":"spoken","key_signature":"","isrc":"","video_url":null,"bpm":null,"release_year":null,"release_month":null,"release_day":null,"original_format":"mp3","license":"cc-by-sa","uri":"https://api.soundcloud.com/tracks/86031061","user":{"id":34504445,"kind":"user","permalink":"<SOUNDCLOUD_USERNAME>","username":"<SOUNDCLOUD_USERNAME>","uri":"https://api.soundcloud.com/users/34504445","permalink_url":"http://soundcloud.com/<SOUNDCLOUD_USERNAME>","avatar_url":"https://i1.sndcdn.com/avatars-000032468673-cjjahx-large.jpg?6462778"},"user_playback_count":1,"user_favorite":false,"permalink_url":"http://soundcloud.com/<SOUNDCLOUD_USERNAME>/how-to-create-more-value-from","artwork_url":null,"waveform_url":"https://w1.sndcdn.com/1U41gB2PnCO1_m.png","stream_url":"https://api.soundcloud.com/tracks/86031061/stream","download_url":"https://api.soundcloud.com/tracks/86031061/download","playback_count":21,"download_count":6,"favoritings_count":1,"comment_count":0,"attachments_uri":"https://api.soundcloud.com/tracks/86031061/attachments","secret_token":"s-d9Uzf","secret_uri":"https://api.soundcloud.com/tracks/86031061?secret_token=s-d9Uzf"},{"kind":"track","id":83773625,"created_at":"2013/03/18
        11:12:38 +0000","user_id":34504445,"duration":1737775,"commentable":true,"state":"finished","original_content_size":27801569,"sharing":"public","tag_list":"\"national
        pupil database\" education data privacy \"personal data\" children \"phil
        booth\" \"terri dowty\" \" data institute\" odifridays lecture database open
        \"open data\"","permalink":"[...]
