<ul class="grid rows-2 cols-3" id="research">
  <li class="row-1 col-1">
    <div data-id="2014-Reach" data-view="Number" data-unordered="true" data-title="Total Reach" id="total-reach"></div>
  </li>
  <li class="row-1 col-2">
    <div data-id="2014-Active-reach" data-view="Number" data-unordered="true" data-title="Active Reach" id="active-reach"></div>
  </li>
  <li class="row-1 col-3">
    <div data-id="2014-Passive-reach" data-view="Number" data-unordered="true" data-title="Passive Reach" id="passive-reach"></div>
  </li>

  <li class="row-2 col-1">
    <div data-id="2014-Articles" data-view="Number" data-unordered="true" data-title="Articles" id="articles"></div>
  </li>
  <li class="row-2 col-2">
    <div data-id="2014-Events" data-view="Number" data-unordered="true" data-title="Events" id="events"></div>
  </li>
  <li class="row-2 col-3">
    <div data-id="2014-People-trained" data-view="NumberWithTarget" data-unordered="true" data-title="People Trained" id="people-trained"></div>
  </li>
</ul>
