<script type='text/javascript'>
$(function() {
  Dashing.setSize(2,3) // rows, cols
});
</script>
<div class="gridster" id="research">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="2014-Reach" data-view="Number" data-unordered="true" data-title="Total reach" id="tile-1"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="2014-Active-reach" data-view="Number" data-unordered="true" data-title="Active reach" id="tile-2"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="2014-Passive-reach" data-view="Number" data-unordered="true" data-title="Passive reach" id="tile-3"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="2014-Articles" data-view="Number" data-unordered="true" data-title="Articles" id="tile-11"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="2014-Events" data-view="Number" data-unordered="true" data-title="Events"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="2014-People-trained" data-view="NumberWithTarget" data-unordered="true" data-title="People trained" id="tile-10"></div>
    </li>
</div>
