// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #12b0c5;
$value-color:       #fff;

$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

$meter-background:  darken($background-color, 15%);

// ----------------------------------------------------------------------------
// widget-progress-list styles
// ----------------------------------------------------------------------------
.widget-progress-list {

  background-color: $background-color;
  vertical-align: top;

  .title {
    color: $title-color;
  }

  ol, ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
    font-size: 15px;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 5px;
  }

  .list-nostyle {
    list-style: none;
  }

  .item {
    width: 100%;
    float: left;
    margin-bottom: 7px;

    .label {
      color: $label-color;
      font-size: 12px;
      width: 77%;
      margin-right: 2%;
      float: left;
    }

    progress {
      width: 20%;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      appearance: none;
    }

    progress[value]::-webkit-progress-bar {
      background-color: #eee;
    }

    progress[value]::-webkit-progress-value {
      background-color: $meter-background;
    }
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .more-info {
    color: $moreinfo-color;
  }

}
