// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #12b0c5;
$value-color:       #fff;

$label-color:       rgba(255, 255, 255, 0.7);

$meter-background:  darken($background-color, 15%);

// ----------------------------------------------------------------------------
// widget-progress-list styles
// ----------------------------------------------------------------------------
.widget-progress-list {

  vertical-align: top !important;
  display: relative;

  ol, ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
    font-size: 15px;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 5px;
  }

  .list {
    list-style: none;
  }

  .item {
    width: 100%;
    float: left;
    margin-bottom: 7px;

    .label {
      color: $label-color;
      font-size: 12px;
      width: 77%;
      margin-right: 3%;
      float: left;
    }

    .missing {
      font-size: 12px;
      width: 20%;
      color: red !important;
      font-weight: bold;
      text-align: center;
      display: inline-block;
    }

    progress {
      width: 20%;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
      appearance: none;
    }

    progress[value] {
      -webkit-appearance: none;
       appearance: none;
    }

    progress[value]::-webkit-progress-bar {
      background: rgba(153, 153, 153, 0.5);
      padding: 1px;
      box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.5);
    }

    progress[value]::-webkit-progress-value {
      background-color: #fff;
      border-radius: 2px;
      box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
    }
  }

  .hidden {
    display: none;
  }

  .pagination {
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 85%;
    li {
      display: inline-block;
      a {
        text-indent: -9999px;
        border-radius: 50%;
        height: 7px;
        width: 7px;
        display: inline-block;
        background-color: #fff;
        margin: 0 4px;

        &:hover {
          background-color: $meter-background;
        }
      }
    }
    li.active {
      a {
        background-color: $meter-background;
      }
    }
  }

}
