<ul class="grid rows-2 cols-4" id="company">
  <li class="row-1 col-1">
    <div data-id="2014-Reach" data-view="Number" data-unordered="true" data-title="People reached" id="total-reach"></div>
  </li>
  <li class="row-1 col-2">
    <div data-id="2014-Value" data-view="Number" data-unordered="true" data-title="Value unlocked" id="value-unlocked"></div>
  </li>
  <li class="row-1 col-3">
    <div data-id="2014-network-size" data-view="NumberWithTarget" data-unordered="true" data-title="Network size" id="network-size"></div>
  </li>
  <li class="row-2 col-1">
    <div data-id="2014-commercial-bookings" data-view="NumberWithTarget" data-unordered="true" data-title="Commercial bookings" id="bookings"></div>
  </li>
  <li class="row-2 col-2">
    <div data-id="2014-non-commercial-bookings" data-view="NumberWithTarget" data-unordered="true" data-title="Non-commercial bookings" id="non-commercial-bookings"></div>
  </li>
  <li class="row-2 col-3">
    <div data-id="2014-grant-funding" data-view="NumberWithTarget" data-unordered="true" data-title="Grant Funding" id="grant-funding"></div>
  </li>
  <li class="row-1 col-4 height-2">
    <div data-id="2014-revenue-by-sector" data-view="Pie" data-title="Income Split" id="revenue-by-sector"></div>
  </li>
</ul>
