<script type='text/javascript'>
$(function() {
  Dashing.setSize(2,3) // rows, cols
});
</script>
<div class="gridster" id="company">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Lifetime-Reach" data-view="Number" data-unordered="true" data-title="People reached" id="reach"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="Lifetime-Value" data-view="Number" data-unordered="true" data-title="Value unlocked" id="value"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="Lifetime-network-size" data-view="Number" data-unordered="true" data-title="Network size" id="network"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Lifetime-people-trained" data-view="Number" data-unordered="true" data-title="People trained" id="trained"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="Lifetime-bookings" data-view="Number" data-unordered="true" data-title="Bookings" id="bookings"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="Lifetime-ODCs" data-view="Number" data-unordered="true" data-title="Open Data Certificates" id="odcs"></div>
    </li>

  </ul>
</div>
