<ul class="grid rows-2 cols-3" id="company">
  <li class="row-1 col-1">
    <div data-id="Lifetime-Reach" data-view="Number" data-unordered="true" data-title="People reached" id="reach"></div>
  </li>
  <li class="row-1 col-2">
    <div data-id="Lifetime-Value" data-view="Number" data-unordered="true" data-title="Value unlocked" id="value"></div>
  </li>
  <li class="row-1 col-3">
    <div data-id="Lifetime-network-size" data-view="Number" data-unordered="true" data-title="Network size" id="network"></div>
  </li>
  <li class="row-2 col-1">
    <div data-id="Lifetime-people-trained" data-view="Number" data-unordered="true" data-title="People trained" id="trained"></div>
  </li>
  <li class="row-2 col-2">
    <div data-id="Lifetime-bookings" data-view="Number" data-unordered="true" data-title="Bookings" id="bookings"></div>
  </li>
  <li class="row-2 col-3">
    <div data-id="Lifetime-ODCs" data-view="Number" data-unordered="true" data-title="Open Data Certificates" id="odcs"></div>
  </li>
</ul>
