---
http_interactions:
- request:
    method: get
    uri: http://www.<SOUNDCLOUD_USERNAME>.org/sites/default/files/courses.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Wed, 24 Apr 2013 11:57:25 GMT
    body:
      encoding: US-ASCII
      string: ! "{\n  \"http://www.eventbrite.com/event/6153638699\": {\n    \"@type\":
        \"http://schema.org/Event\",\n    \"startDate\": \"2013-04-26T13:00:00+00:00\",\n
        \   \"endDate\": \"2013-04-26T14:00:00+00:00\",\n    \"location\": {\n      \"@type\":
        \"http://schema.org/Place\",\n      \"name\": \"The Churchill Rooms\"\n    },\n
        \   \"offers\": [\n      {\n        \"@type\": \"http://schema.org/Offer\",\n
        \       \"name\": \"Guest\",\n        \"price\": 0.0,\n        \"priceCurrency\":
        \"GBP\",\n        \"validThrough\": \"2013-04-25T09:00:00+00:00\",\n        \"inventoryLevel\":
        3,\n        \"validFrom\": \"2013-04-08T11:00:00+00:00\"\n      }\n    ]\n
        \ },\n  \"http://www.eventbrite.com/event/6190416703\": {\n    \"@type\":
        \"http://schema.org/Event\",\n    \"startDate\": \"2013-05-03T13:00:00+00:00\",\n
        \   \"endDate\": \"2013-05-03T13:45:00+00:00\",\n    \"location\": {\n      \"@type\":
        \"http://schema.org/Place\",\n      \"name\": \"Open Data Institute\"\n    },\n
        \   \"offers\": [\n      {\n        \"@type\": \"http://schema.org/Offer\",\n
        \ [...]
